<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Բանկային  գործ</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" class="header-fixed">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="index.html#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a>
      </div>

     <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Գլխավոր</a></li>

          
          
        </ul>
      </nav>
    </div>
  </header><!-- #header -->

  <main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Բանկային  գործ</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="img/speakers/2.jpg" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">

              <p>Միջին մասնագիտական կրթության 0604 «Բանկային գործ» մասնագիտության մասնագետի մասնագիտական գործունեության հիմնական բնութագիրը հետևյալն է՝ մասնագետն իրականացում է հետևյալ զբաղմունքները՝ 

Բանկային հաշիվների սպասարկման մասնագետ
գանձապահ 
տարադրամի փոխանակման մասնագետ
դրամական փոխանցումների մասնագետ
ավանդների ներգրավման ծառայության մասնագետ
լոմբարդային վարկերի տրամադրման մասնագետ
պլաստիկ քարտերի տրամադրման և սպասարկման մասնագետ:

Ուսումնական գործընթացում ուսանողը ուսումնասիրում է հետևյալ մասնագիտական առարկաներ՝ տնտեսագիտության տեսություն, մաթեմատիկական հաշվարկների հիմունքներ, վիճակագրության հիմունքներ, ֆինանսական մաթեմատիկա, բանկային գործի հիմունքներ, ՀՀ հարկային օրենսդրություն, ՀՀ բանկային օրենսդրություն, հաշվապահական հաշվառման հիմունքներ, բանկային մարքեթինգ, բանկային հաշիվներ և դրամարկղային գործառնություններ, ավանդային գործառնություններ, արտսրժութային գործառնություններ, բանկային համակարգչային ծրագերեր առարկաները: Ուսման գործընթացում ստանալով համապատասխան գիտելիքներ՝ մասնագետը կկարողանա՝
գործնականում կիրառել տնտեսագետի միջին մասնագիտական որակավորման գիտելիքները
իրականացնել և սահմանված կարգով ձևակերպել բանկային գործառնությունները (ավանդային, վարկային, արժույթի փոխանակում, դրամական փոխանցումներ և այլն)
հաշվապահական հաշվառման հաշիվներում արտացոլել կատարված բանկային գործառնությունները, ծառայությունները, ինչպես նաև ներբանկային գործառնությունները
հաճախորդներին վարկի դրամադրման հետ կապված վճարունակության, վարկային միջոցների վերադարձելության և ծախսման նպատակայնության վերաբերյալ իրականացնել մշտադիտարկում (մոնիտորինգ)
աշխատանքի ընթացքում օգտագործել բանկերի և վարկային կազմակերպությունների գործունեությունը կարգավորող օրենսդրությունը, ՀՀ կենտրոնական բանկի, ՀՀ ֆինանսների նախարարության մեթոդական և նորմատիվ այլ փաստաթղթերը:</p>

            </div>
          </div>
          
        </div>
      </div>

    </section>

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
     

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>VSC</strong>. Բոլոր իրավունքները պաշտպանված են
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
</body>

</html>
