<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="mediagr.css">
    <link rel="stylesheet" type="text/css" href="icon_erku/css/all.css">
    <link rel="stylesheet" href="css/style3.css">
    <title>Document</title>
</head>
<body>



    <div id="arajnayin">
    <div id="menu">
        <div id="logo2">
            <img id="glavni1" src="img/logo.png" alt="">
        </div>

        
        
        <div id="menu1">
            <ul id="ul_menu">
                <li class="ul_li"><a class="a_menu" href="http://127.0.0.1:5500/qolej/index.html">Գլխավոր</a></li>
                <li class="ul_li"><a class="a_menu" href="http://127.0.0.1:5500/qolej/Storbajanumner.html">Մեր մասին</a></li>
                <li class="ul_li"><a class="a_menu" href="http://127.0.0.1:5500/qolej/Mijin.html">Կրթություն</a></li>
                <li class="ul_li"><a class="a_menu" href="http://127.0.0.1:5500/qolej/Dimord.html">Դիմորդ</a></li>
                <li class="ul_li"><a class="a_menu" href="#gallery">Որակ</a></li>
                
            </ul>
        </div> 

        <div id="menu2">
            <ul id="ul_menu">
              
                <li ><i onclick="a()" class="fa-solid fa-bars icon" id="start"></i></li>
            </ul>
        </div> 

        


        
    </div>
</div>
    
    <div id="glxavor11">
       <div id="media">

        <ul>
            <li class="ul_li_media"><a class="a_menu_media" href="http://127.0.0.1:5500/qolej/index.html">Գլխավոր</a></li>
            <br>
            
            <li class="ul_li_media"><a class="a_menu_media" href="http://127.0.0.1:5500/qolej/Storbajanumner.html">Մեր մասին</a></li>
            <br>
            <li class="ul_li_media"><a class="a_menu_media" href="http://127.0.0.1:5500/qolej/Mijin.html">Կրթություն</a></li>
            <br>
            <li class="ul_li_media"><a class="a_menu_media" href="http://127.0.0.1:5500/qolej/Dimord.html">Դիմորդ</a></li>
            <br>
            <li class="ul_li_media"><a class="a_menu_media" href="#gallery">Որակ</a></li>
        </ul>

       </div>
   

    
<div id="cank">
    <div id="gradaran">
        <h1 id="title_gr">Գ Ր Ա Դ Ա Ր Ա Ն </h1>
    </div>

    <div id="grqayin_cank">

        
       <div class="textayin">
        <a class="girq" href=""><span>Հայոց լեզու և գրականություն</span></a>
        <button class="button">
            <span class="button-content">Download </span>
          </button>
          
        
       </div>

       <div class="textayin">
        <a class="girq" href=""><span>Հայոց պատմություն և հասարակագիտություն</span></a>
        <button class="button">
            <span class="button-content">Download </span>
          </button>
       </div>


       <div class="textayin">
        <a class="girq" href=""><span>Օտար լեզու Ռուսերեն, Անգլերեն, Գերմաներեն</span></a>
        <button class="button">
            <span class="button-content">Download </span>
          </button>
       </div>
       
       
       <div class="textayin">
        <a class="girq" href=""><span>Մաթեմատիկա,Երկրաչափություն</span></a>
        <button class="button">
            <span class="button-content">Download </span>
          </button>
       </div>

       <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>


    </div>

</div>
<div id="search">
        
    <div class="search">
        <input id="search_input" placeholder="Search..." type="text">
        <button type="submit">Go</button>
      </div>

      <div id="tesanyut">
        <video controls width="100%" height="100%" >
            <source src="/qolej/img/tesagrutyun.mp4" type="video/mp4">
        </video>
      </div>

</div>



</div>
<div id="jarangutyun">
    <div id="title_jar"><h2>ԺԱՌԱՆԳՈՒԹՅԱՆ	&emsp; ՊԱՀՊԱՆՈՒԹՅՈՒՆ 	&emsp;ՀԱՆՈՒՆ	&emsp; ԿԱՅՈՒՆ 	&emsp;ԱՊԱԳԱՅԻ</h2></div>
    <div id="nkaragrutyun">
        <div id="bnutagir">
          
            
            Մեր առաքելությունն է.<br>  <br> 

            &deg;Լինել երկրի առաջընթացի անբաժանելի մասը՝ տեղեկատվական քաղաքականության,<br> 
             մշակույթի, կրթության, գիտության և տնտեսության ոլորտներում,
             
             <br> <br> 

            &deg;Լինել գիտելիքի տարածք՝ Հայաստանի հասարակության համար արժեք ստեղծող միջավայր,
            
            <br> <br> 
            
            &deg;Լինել հաճախորդների պահանջմունքներին միտված հաստատություն,

            <br> <br> 

            &deg;Լինել հանրահասանելի ազգային հաստատություն, նպաստել երկրի ինովացիոն<br> 
            քաղաքականության իրականացմանը, մրցակցային առավելությունների բարձրացմանը և<br> 
            գիտելիքահենք հասարակություն ձևավորելուն 

            <br> <br> 

            &deg;Հանրահռչակել ազգային մշակութային ժառանգությունը, աջակցել մշակութային<br>
             բովանդակության և ծառայությունների բազմազանությանը

             <br> <br> 

            &deg;Բարելավել իրավական և տեխնոլոգիական պայմանները՝ տեղեկատվությունը առավել մատչելի<br> 
             դարձնելու համար
            </div>

        
        <div id="patker"></div>
    </div>
</div>

<script src="grscript.js"></script>
</body>
</html>