> Mane:
<!DOCTYPE html> 
<html lang="en"> 
 
<head> 
  <meta charset="utf-8"> 
  <title>TheEvent - Bootstrap Event Template</title> 
  <meta content="width=device-width, initial-scale=1.0" name="viewport"> 
  <meta content="" name="keywords"> 
  <meta content="" name="description"> 
 
 <!-- Favicons -->
  <link href="img/ikon.png" rel="ikon">
  <link href="img/ikon.png" rel="ikon">
 
  <!-- Google Fonts --> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" 
    rel="stylesheet"> 
 
  <!-- Bootstrap CSS File --> 
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
 
  <!-- Libraries CSS Files --> 
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"> 
  <link href="lib/animate/animate.min.css" rel="stylesheet"> 
  <link href="lib/venobox/venobox.css" rel="stylesheet"> 
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> 
 
  <!-- Main Stylesheet File --> 
  <link href="css/style.css" rel="stylesheet"> 
 
  <!-- ======================================================= 
    Theme Name: TheEvent 
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/ 
    Author: BootstrapMade.com 
    License: https://bootstrapmade.com/license/ 
  ======================================================= --> 
</head> 
 
<body> 
 
  <!--========================== 
    Header 
  ============================--> 
  <header id="header" class="header-fixed"> 
    <div class="container"> 
 
      <div id="logo" class="pull-left"> 
        <!-- Uncomment below if you prefer to use a text logo --> 
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>--> 
        <a href="index.html#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a> 
      </div> 
 
      <nav id="nav-menu-container"> 
        <ul class="nav-menu"> 
          <li class="menu-active"><a href="#intro">Գլխավոր</a></li> 
 
          <li><a href="#speakers">Մասնագիտություն</a></li> 
          <li><a href="#hotels">Աշխատակազմ</a></li> 
          <li><a href="#gallery">Տեսադարան</a></li> 
          <li><a href="#sponsors">Դիմորդ</a></li> 
 
        </ul> 
      </nav> 
    </div> 
  </header><!-- #header --> 
 
  <main id="main" class="main-page"> 
 
    <!--========================== 
      Speaker Details Section 
    ============================--> 
    <section id="speakers-details" class="wow fadeIn"> 
      <div class="container"> 
        <div class="section-header"> 
          <h2>Հաշվողական տեխնիկայի 
            ծրագրային ապահովում</h2> 
        </div> 
 
        <div class="row"> 
          <div class="col-md-6"> 
            <img src="img/speakers/2.jpg" alt="Speaker 1" class="img-fluid"> 
          </div> 
 
          <div class="col-md-6"> 
            <div class="details"> 
 
              <p>Արդի ժամանակահատվածում տեղեկատվական տեխնոլոգիաների դերն հասարակական գործունեության բոլոր ոլորտներում 
                անփոխարինելի է: Կրթության ոլորտը ևս անմասն չէ գլոբալիզացիայի, նորագույն տեղեկատվական տեխնոլոգիաների 
                ազդեցությունից, քանզի վերջիններս անհրաժեշտ հենք են ծառայում կրթությունն առավել արդյունավետ, ճիշտ և 
                գրագետ կազմակերպելու համար: Տեղեկատվության որոնման և տիրապետման գործում անգնահատելի է ժամանակակից 
                տեղեկատվական տեխնոլոգիաների իմացությունը և դրանց կիրառումը առօրյա աշխատանքում: Վարդենիսի «Բադեյան» 
                պետական քոլեջում կազմակերպվում է ՏՏ ոլորտին առնչվող հետևյալ մասնագիտական կրթությունները`«Հաշվողական 
                տեխնիկայի և ավտոմատացված համակարգերի ծրագրային ապահովում» և «Համակարգիչների շահագործում»: «Հաշվողական 
                տեխնիկայի և ավտոմատացված համակարգերի ծրագրային ապահովում» մասնագիտությունը ուսումնասիրելիս ուսանողները 
                կտիրապետեն հետևյալ մասնագիտական առարկաներին ` 
 
                Օպերացիոն համակարգեր 
                Գործավար փաստաթղթերի մշակման և ներկայացման տեխնոլոգիաներ 
                Էլեկտրոնային աղյուսակներ 
                Էհմ - ի ճարտարապետություն
