<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TheEvent - Bootstrap Event Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

 <!-- Favicons -->
  <link href="img/ikon.png" rel="ikon">
  <link href="img/ikon.png" rel="ikon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" class="header-fixed">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="index.html#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a>
      </div>

     <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#gallery">Գլխավոր</a>

<li><a href="#gallery">Մեր  մասին</a>
            <ul class="sub_menu">
              <li><a href="karucvacq.html">Կառուցվածք</a></li>
              <li><a href="Ashxatakazm.html">Աշխատակազմ</a></li>
              <li><a href="Storabajanumner.html">Ստորաբաժանումներ</a></li>
           
            </ul>
          </li>


<li><a href="#gallery">Կրթություն</a>
            <ul class="sub_menu">
              <li><a href="mijin.html">Միջին  մասնագիտական կրթական հիմքով</a></li>
              <li><a href="naxa.html">Նախնական  մասնագիտական /արհեստագործական/  կրթական հիմքով</a></li>
 
           
            </ul>
          </li>

      <li><a href="#gallery">Դիմորդ</a>
            <ul class="sub_menu">
              <li><a href="#">Դիմորդի անկյուն</a></li>
            
           
            </ul>
          </li>

          
<li><a href="#gallery">Որակ</a>
            <ul class="sub_menu">
              <li><a href="#">Միջին  մասնագիտական կրթական հիմքով</a></li>

              <li><a href="#">Նախնական  մասնագիտական /արհեստագործական/  կրթական հիմքով</a></li>
 
           
            </ul>
          </li>
      
        </ul>
      </nav>
    </div>
  </header><!-- #header -->

  <main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Հաշվողական տեխնիկայի
ծրագրային ապահովում</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="img/speakers/2.jpg" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">

              <p>Արդի ժամանակահատվածում տեղեկատվական տեխնոլոգիաների դերն հասարակական գործունեության բոլոր ոլորտներում անփոխարինելի է: Կրթության ոլորտը ևս անմասն չէ գլոբալիզացիայի, նորագույն տեղեկատվական տեխնոլոգիաների ազդեցությունից, քանզի վերջիններս անհրաժեշտ հենք են ծառայում կրթությունն առավել արդյունավետ, ճիշտ և գրագետ կազմակերպելու համար: Տեղեկատվության որոնման և տիրապետման գործում անգնահատելի է ժամանակակից տեղեկատվական տեխնոլոգիաների իմացությունը և դրանց կիրառումը առօրյա աշխատանքում: Վարդենիսի «Բադեյան» պետական քոլեջում կազմակերպվում է ՏՏ ոլորտին առնչվող հետևյալ մասնագիտական կրթությունները`«Հաշվողական տեխնիկայի և ավտոմատացված համակարգերի ծրագրային ապահովում» և «Համակարգիչների շահագործում»: «Հաշվողական տեխնիկայի և ավտոմատացված համակարգերի ծրագրային ապահովում» մասնագիտությունը ուսումնասիրելիս ուսանողները կտիրապետեն հետևյալ մասնագիտական առարկաներին `

Օպերացիոն համակարգեր
Գործավար փաստաթղթերի մշակման և ներկայացման տեխնոլոգիաներ
Էլեկտրոնային աղյուսակներ
Էհմ - ի ճարտարապետություն
Ծրագրավորման հիմունքներ
WEB ծրագրավորման հիմունքներ

Կետային և վեկտորային գրաֆիկայի հիմունքներ
«Հաշվողական տեխնիկայի և ավտոմատացված համակարգերի ծրագրային ապահովում» մասնագիտությամբ ավարտած ուսանողը կստանա տեխնիկ-ծրագրավորող որակավորումը և կարող է իրականացնել հետևյալ զբաղմունքները` 
Մշակողներ և վերլուծողներ`համակարգչային համակարգերի
Ծրագրավորողներ
Տեխնիկներ` հեռահաղորդակցության
Տեխնիկներ և օպերատորներ` Էհմ - ների սպասարկման
Գործավարներ


Վարդենիսի «Բադեյան» պետական քոլեջը ունի բոլոր անհրաժեշտ պայմանները Մասնագիտությունը լիարժեք կազմակերպելու համար:</p>

            </div>
          </div>
          
        </div>
      </div>

    </section>

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
     

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>VSC</strong>. Բոլոր իրավունքները պաշտպանված են
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
</body>

</html>
