<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Վարսավիրական  գործ</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" class="header-fixed">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="index.html#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a>
      </div>

     <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Գլխավոր</a></li>

          
        </ul>
      </nav>
    </div>
  </header><!-- #header -->

  <main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Վարսավիրական  գործ</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="img/speakers/2.jpg" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">

              <p>Վարդենիսի «Բադեյան»պետական քոլեջում շուրջ 9 տարի է ինչ գործում է
«Վարսավիրական արվեստ և զարդային դիմահարդարում խումբը» որտեղ ամեն տարի սովորում են 18-20 ուսանողներ:Սովորողները 18-ից բարձր տարիքի են:
Խմբում սովորում են և կանայք և աղջիկներ և տղաներ:Ուսման տևողությունը 1 տարի է`Սեպտեմբերից մինչև Հունիս: Դսաժամերի տևողությունը օրական 6-8ժամ է:
Տարվա ընթացքում ուսանողները գեղեցկության սրահներում անցնում են պրակտիկաներ`3-4 շաբաթ տևողությամբ, տարվա վերջում հանձնում 
են մեկ պետական քննություն և ստանում պետական դիպլոմ: Ուսումնառության ընթացքում սովորողներն անցնում են` ընդհանուր հումանիտար առանցքային
հմտություններ,ընդհանուր մասնագիտական և հատուկ

Սանիտարիա և հիգենիա
Մազերի խնամք և նախապատրաստում
Կտրվածքների, և սանրվածքների մոդելավորում
Կանանց մազերի կտրում
Տղամարդկանց մազերի կտրում
Պարզ և բարդ սանրվածքներ
Մազերի ներկում
Մազերի հարդարում
Դասարանը կահավորված է,լուսավոր,հարմարավետ, սովորելու համար կան բոլոր պայմանները: Ուսումնական տարվա ընթացքում կազմակերպվում են բաց դասեր փոխադարձ դասալսումներ,միջոցառումներ: Ուսուցման ողջ գործընթացը անցկացվում է բարձր մակարդակով:Կազմակերպված միջոցառումներին,բաց դասերին,դասալսումներին ներկա են գտնվում տնօրինության անդամներ,ուսուցիչներ,վարպետներ հյուրեր:</p>

            </div>
          </div>
          
        </div>
      </div>

    </section>

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
     

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>VSC</strong>. Բոլոր իրավունքները պաշտպանված են
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
</body>

</html>
